.App {
  height: 100vh;
}

.search {
  top: 1rem;
  cursor: pointer;
}

.main-photo {
  width: 40rem;
}

.main-icon {
  width: 50px;
  position: absolute;
  left: -50px;
}

.slider-active {
  right: calc(50%);
  left: calc(50%);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.slider-hidden-right {
  position: absolute;
  right: -100%;
  opacity: 0.1;
  transition: right 0.3s ease-in-out,
  opacity 0.3s ease-in-out;
  z-index: -10;
}

.slider-hidden-left {
  position: absolute;
  left: -100%;
  opacity: 0.1;
  transition: left 0.3s ease-in-out,
  opacity 0.3s ease-in-out;
  z-index: -10;
}

body {
  overflow-x: hidden;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
