@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #1A1818;
    --color-text-inverted: #F3FFF3;

    --color-header-main: #fff;
    --color-header-inverted: #2A3451;

    --color-body-main: #eee;
    --color-body-inverted: #523C3C;
  }
  .dark-theme {
    --color-text-base: #1AF4BF;
    --color-text-inverted: #EA2F2F;

    --color-header-main: #218291;
    --color-header-inverted: #2A3451;

    --color-body-main: #BB24B0;
    --color-body-inverted: #C3C200;
  }
}

.toggle-checkbox:checked {
  right: 0;
  border-color: rgba(209, 213, 219, var(--tw-bg-opacity));
}

.toggle-checkbox:checked + .toggle-label {
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}
